.App {
  width: 250px;
  height: 400px;
  background: #E2DBBE;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  margin: 20px auto;
}

.item_form {
  margin: 40px auto;
}

.info {
  text-align: center;
  padding: 5px;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.info_red {
  color: red;
  background-color: rgb(255, 191, 191);
}

.info_green {
  color: green;
  background-color: rgb(186, 255, 186);
}

@media screen and (min-width: 992px){
  .App {
    width: 500px;
    height: 700px;
  }
}