.App {
  width: 300px;
  height: auto;
  margin: 60px auto 0 auto;
  background: #ffffff;
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.18);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.info_container {
  width: 100%;
  height: 40px;
  margin: 10px auto;
}
.info {
  text-align: center;
  padding: 5px;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.animate__fadeOutRight {
  animation-delay: 1s;
}

.info_red {
  color: red;
  background-color: rgb(249, 201, 201);
}

.info_green {
  color: green;
  background-color: rgb(186, 255, 186);
}
h1 {
  font-size: 2.5rem;
  letter-spacing: .5px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto 20px auto;
}
.item_form {
  height: 100px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input_container input {
  border: none;
  height: 25px;
  padding-left: 5px;
  font-size: 1.5rem;
}
.input_container input:active {
  outline-color: black;
  border-color: black;
}
.btn_submit {
  border: none;
  background-color: rgb(82, 155, 227);
  font-size: 1.8rem;
  padding: 5px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: background-color ease-in-out 0.2s;
}
.btn_submit:hover {
  background-color: rgb(17, 121, 225);
}
.list_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.shopping_list {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 5px auto;
}
.list_item {
  width: 250px;
  display: flex;
  justify-content: space-between;
  padding: 2px;
  margin: 10px auto;
  background-color: rgba(235, 234, 232, 0.543);
  border-radius: 5px;
}
.item_title {
  font-size: 1.8rem;
  padding-left: 10px;
}
.btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.btn {
  border: none;
  background: none;
  font-size: 2rem;
  cursor: pointer;
  transition: color ease-in .2s;
}
.btn_edit:hover {
  color: rgb(59, 59, 59);
}
.btn_delete {
  color: red;
  font-size: 2.5rem;
}
.btn_delete:hover {
  color: rgb(206, 2, 2);
}

.btn_clear {
  border: none;
  background: none;
  color: red;
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: 1px;
  text-transform: lowercase;
  margin: 5px auto 10px auto;
  cursor: pointer;
}
.btn_clear:hover {
  outline: 1.5px solid red;
}


@media screen and (min-width: 768px){
  .App {
    width: 500px;
    height: auto;
  }
  .info {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 3rem;
  }
  .item_form {
    height: 120px;
  }
  .input_container input {
    font-size: 1.8rem;
  }
  .btn_submit {
    font-size: 2rem;
  }
  .list_item {
    width: 350px;
  }
  .item_title {
    font-size: 2rem;
  }
  .btn {
    font-size: 2.5rem;
  }
  .btn_delete {
    font-size: 3rem;
  }
  .btn_clear {
    font-size: 2rem;
    letter-spacing: 1.5px;
  }
}