.App {
  width: 250px;
  height: 400px;
  background: #E2DBBE;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (min-width: 992px){
  .App {
    width: 500px;
    height: 700px;
  }
}